@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap");

* {
  margin: 0px auto;
  padding: 0px;
  overflow: hidden !important;
  height: 100%;
  font-family: "JetBrains Mono", monospace;
}

div#background {
  background: radial-gradient(circle, #12356d, #000);
  height: 100%;
  overflow: hidden;
}

div.ball {
  overflow: hidden;
  background-image: url("../media/images/magicBall.webp");
  width: 40rem;
  height: 40rem;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 100%;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }

  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }

  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }

  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }

  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }

  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }

  50% {
    transform: translateX(-6px);
  }

  65% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0);
  }
}

#swing {
  animation: swing 0.6s ease;
  animation-iteration-count: infinite;
}

#no-animation {
  animation: none;
}

div#inside {
  background-color: black;
  height: 50%;
  width: 50%;
  border-radius: 100%;
  margin: auto;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

svg#tirtangle {
  margin: auto;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

svg#triangle polygon {
  fill: #1b51a8;
  stroke: #1b51a8;
  stroke-width: 1;
}

div#text {
  width: 40rem;
  height: 40rem;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
  padding-top: 37.5rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  text-align: center;
  color: white;
  z-index: 10;
}